/*-------------------------------------------------------------*/
/* Pre-defining CSS */
:root {
  --logo-accent: #C7AE6A;
}

@font-face {
  font-family: myFont;
  src: url(Fonts/montserrat-font/MontserratBlack-3zOvZ.ttf);
}
/*-------------------------------------------------------------*/
/*Body*/
body{
  margin: 0;
  padding: 0;
  background-color: black;
}

/*-------------------------------------------------------------*/
/* Section Background Colors */
.dark-section{
  background-color: #000000;
  color: white;
}

.light-section{
  background-color: #FFFFFF;
  color: black;
}

.dark-section, .light-section{
  transition: background-color 0.5s ease, color 0.5s ease;
}

/*-------------------------------------------------------------*/
/* Navigation background */
.navbar{
  background-color: #000000;
}

/* styling the nav link items */
.navbar .nav-link{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: myFont;
  letter-spacing: 0.5px;
  color: white;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}

/* Hover and Focus Effects of nav link items */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--logo-accent);
 
}

.navbar .nav-link.active {
  color: var(--logo-accent);
}

/*-------------------------------------------------------------*/
/* TWDS Introduction Section */
.h1-style{
  
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}


/*-------------------------------------------------------------*/
